
body{
    /* background-color: rgb(128, 215, 236); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Seamless_network_background.jpg");
    
}
.questionSection{
    height: 250px;
    /* width: 60%; */
    /* width: max-content; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid black; */
}
.header{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}
#input{
    width: 50%;
    text-align: center;
    
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    box-sizing: border-box;
    /* border: none; */
    background-color: wheat;
    border: 2px solid rgb(17, 33, 179);
    border-radius: 4px;
}
.answerSection{
    height: 150px;
    /* width: 60%; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#output{
    display: flex;
    justify-content: space-around;
}
.options{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    box-sizing: border-box;
    border: 2px solid rgb(17, 33, 179);
    background-color: wheat;
    border-radius: 4px;
}
#nextQuestion{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    border-radius: 12px;
    width: 200px;
    background-color: #3CBC8D;
    color: blue; 
}
#endGame{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    border-radius: 12px;
    width: 200px;
    background-color: #3CBC8D;   
}
#endGame>a{
    text-decoration: none;
    
    color: blue;
}
#clue{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    border-radius: 12px;
    width: 200px; 
    background-color: #3CBC8D; 
    color: blue;
  }

.bg-image {
    
    /* The image used */
    background-image: url("./images/denmark.jpg");
    
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
    
    /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .nextAndClueButton{
      display: flex;
      align-items: center;
      justify-content: space-around;
      
  }
 
  #imgClue{
    /* border: 1px solid black; */
    height: 400px;
    

  }